/*  ======================================
        共通のスタイル設定
    ====================================== */
*{
    margin: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #2c3e50;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
}

#logo a{
    color: #fff;
}

a{
    text-decoration: none;
}

/*  ======================================
        メインコンテンツ
    ====================================== */
main{
    padding: 30px 20px;
    margin-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: #2a7ae2;
    border-bottom: 2px solid #ddd;
    margin-top: 40px;
    margin-bottom: 5px;
}


/*  ======================================
        セクション・自己紹介
    ====================================== */

.profile{
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
}

.profile img{
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

.profile p{
    text-align: left;
}

/*  ======================================
        セクション・キャリア
    ====================================== */

.career{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

/*  ======================================
        スキル・資格カテゴリ
    ====================================== */

.skills{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.skill-category{
    margin-bottom: 15px;
}

/*  ======================================
        セクション・制作物
    ====================================== */

.works{
    background-color: #eef;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.work-item{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.work-item img{
    width: 100%;
    border-radius: 5px;
}

.btn{
    display: flex;
    width: 120px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    justify-content: center;
    align-items: center;
}

/*  ======================================
        セクション・SNS ＆ お問い合わせ
    ====================================== */

.contact{
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}


/*  ======================================
        フッター
    ====================================== */

footer{
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}