/*  ======================================
        共通のスタイル設定
    ====================================== */
*{
    margin: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #2c3e50;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
}

#logo a{
    color: #fff;
}

a{
    text-decoration: none;
}

/*  ======================================
        メインコンテンツ
    ====================================== */

h2{
    color: #2a7ae2;
    border-bottom: 2px solid #ddd;
}


/*  ======================================
        セクション・自己紹介
    ====================================== */

.profile{
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    max-width: 900px;
}

.profile img{
    border-radius: 50%;
    width: 150px;
}

.profile p{
    text-align: left;
}

/*  ======================================
        セクション・キャリア
    ====================================== */


/*  ======================================
        スキル・資格カテゴリ
    ====================================== */


/*  ======================================
        セクション・制作物
    ====================================== */


/*  ======================================
        セクション・SNS ＆ お問い合わせ
    ====================================== */



/*  ======================================
        フッター
    ====================================== */

footer{
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}