/*  ======================================
        共通のスタイル設定
    ====================================== */
*{
    margin: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #2c3e50;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
}

#logo a{
    color: #fff;
}

a{
    text-decoration: none;
}

/*  ======================================
        フッター
    ====================================== */

footer{
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}